<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<header class="site-header" th:fragment="header">
		<div class="logo">
			<a th:href="@{/}" title="Let's GO! 홈">
				<img th:src="@{/logo/logo.png}" alt="Let's GO!" class="site-logo" />
			</a>
		</div>

		<ul class="menu" style="list-style: none; display: flex; padding: 0; margin: 0;">
			<li><a th:href="@{/}">홈</a></li>
			<li><a th:href="@{/places/leisure}">플레이스 조회</a></li>
			<li><a th:href="@{/places/postScheduleList}">일정게시판</a></li>
			<li><a th:href="@{/places/myScheduleList}">내일정</a></li>

			<th:block th:if="${session.loginOK == null}">
				<li><a href="controller?cmd=loginUI">로그인</a></li>
			</th:block>
			<th:block th:if="${session.loginOK != null}">
				<li class="user-name"
					th:text="${(info != null && info.name != null && info.name != '') ? info.name : session.loginOK} + ' 님'">
					사용자 님</li>
				<li><a href="controller?cmd=logoutAction">로그아웃</a></li>
			</th:block>
		</ul>
	</header>
</body>

</html>